@import '~bootstrap/scss/bootstrap';

body {
    background-image: url(https://media.giphy.com/media/l1Et7Qw1XjvunS0Io/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {

    color: black;
    text-shadow: 12px 2px  5px  blueviolet;
    font-family: 'Press Start 2P', cursive;
    margin: 50px;
    font-size: 65px;
    text-align: center;
}

#alert-msg, #sign-up-msg, #sign-in-msg, #password-change-msg, #games-played {

font-family: 'Press Start 2P', cursive;
text-shadow: 12px 2px  5px  blueviolet;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}


.sign-in-input, .sign-up-input, .password-change-input {
    text-align: center;
}

input[type="email"], input[type="password"]  {
    background-color: black;
    box-shadow: 12px 2px 5px blueviolet;
    color: white;
    
}

input[type="submit"] {
    box-shadow: 12px 2px 5px blueviolet;
    color: whitesmoke;
    background-color: black;

}

#sign-out-btn, #start-game, #count-games, #view-btn   {
    box-shadow: 12px 2px 5px blueviolet;
    color: whitesmoke;
    background-color: black;
    margin: 0 auto;
    font-size: 40px;
    display: grid;
    text-align: center;
}

.container {
    height: 100vh 
}

.row {
    margin: auto;
    height: 150px;
    max-height: calc(100vh - 75px);
    max-width: calc(100vh - 75px);
}

.col-4-box {
    display: flex;
    border: 1px solid black; 
    justify-content: center;
    align-items: center;
    min-height: calc(100% / 3);
    min-width: calc(100% / 3);
}


.box {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    min-height: 5rem;
    background-color: #fff;
    font-size: 15px;

}