@import '~bootstrap/scss/bootstrap';

body {
    background-image: url(https://media.giphy.com/media/l1Et7Qw1XjvunS0Io/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {

    color: black;
    text-shadow: 12px 2px  5px  blueviolet;
    font-family: 'Press Start 2P', cursive;
    margin: 50px;
    font-size: 65px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#alert-msg, #sign-up-msg, #sign-in-msg {

    font-family: 'Press Start 2P', cursive;
    text-shadow: 12px 2px  5px  blueviolet;
    font-size: 30px;
    margin-bottom: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.sign-in-input, .sign-up-input {
    text-align: center;
}

input[type="email"], input[type="password"],  {
    background-color: black;
    box-shadow: 12px 2px 5px blueviolet;
}

input[type="submit"] {
    box-shadow: 12px 2px 5px blueviolet;
    color: whitesmoke;
    background-color: black;

}